<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expireddatetracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_orange"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_orange_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FeedbackActivity" />

        <activity android:name=".TipsActivity" />
        <activity
            android:name=".Account_Activity"
            android:label="@string/title_activity_account_"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ItemActivity" />
        <activity android:name=".UserLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <service
            android:name=".Service.GettingDeviceToken"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".Service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".Service.NotificationService"
            android:enabled="true"
            />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
    </application>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>